<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwg.dao.EmployeeDAO">
    <resultMap id="BaseResultMap" type="com.wwg.entity.Employee">
        <id column="employee_id" property="employeeId" jdbcType="BIGINT"/>
        <result column="hospital_id" property="hospitalId" jdbcType="BIGINT"/>
        <result column="station_id" property="stationId" jdbcType="BIGINT"/>
        <result column="employee_number" property="employeeNumber" jdbcType="VARCHAR"/>
        <result column="employee_name" property="employeeName" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="rfid" property="rfid" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT employee_id, hospital_id, station_id, employee_number, employee_name, 
        role_id, rfid, remark, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.wwg.entity.Employee">
        SELECT *
        FROM employee
        WHERE employee_id = #{employeeId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.wwg.entity.Employee">
        DELETE FROM employee
        WHERE employee_id = #{employeeId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.wwg.entity.Employee">
        INSERT INTO employee ( hospital_id, 
          station_id, employee_number, employee_name, 
          role_id, rfid, remark, 
          create_time )
        VALUES ( #{hospitalId,jdbcType=BIGINT}, 
          #{stationId,jdbcType=BIGINT}, #{employeeNumber,jdbcType=VARCHAR}, #{employeeName,jdbcType=VARCHAR}, 
          #{roleId,jdbcType=BIGINT}, #{rfid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
          #{createTime,jdbcType=DATE} )
        <selectKey keyProperty="employeeId" resultType="long">
            SELECT LAST_INSERT_ID() AS employeeId
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.wwg.entity.Employee">
        INSERT INTO employee
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="hospitalId != null">
                hospital_id,
            </if>
            <if test="stationId != null">
                station_id,
            </if>
            <if test="employeeNumber != null">
                employee_number,
            </if>
            <if test="employeeName != null">
                employee_name,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="rfid != null">
                rfid,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="hospitalId != null">
                #{hospitalId,jdbcType=BIGINT},
            </if>
            <if test="stationId != null">
                #{stationId,jdbcType=BIGINT},
            </if>
            <if test="employeeNumber != null">
                #{employeeNumber,jdbcType=VARCHAR},
            </if>
            <if test="employeeName != null">
                #{employeeName,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="rfid != null">
                #{rfid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
        </trim>
        <selectKey keyProperty="employeeId" resultType="long">
            SELECT LAST_INSERT_ID() AS employeeId
        </selectKey>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO employee ( hospital_id, 
          station_id, employee_number, employee_name, 
          role_id, rfid, remark, 
          create_time )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.hospitalId,jdbcType=BIGINT}, 
            #{item.stationId,jdbcType=BIGINT}, #{item.employeeNumber,jdbcType=VARCHAR}, #{item.employeeName,jdbcType=VARCHAR}, 
            #{item.roleId,jdbcType=BIGINT}, #{item.rfid,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR}, 
            #{item.createTime,jdbcType=DATE}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wwg.entity.Employee">
        UPDATE employee
        <set>
            <if test="hospitalId != null">
                hospital_id = #{hospitalId,jdbcType=BIGINT},
            </if>
            <if test="stationId != null">
                station_id = #{stationId,jdbcType=BIGINT},
            </if>
            <if test="employeeNumber != null">
                employee_number = #{employeeNumber,jdbcType=VARCHAR},
            </if>
            <if test="employeeName != null">
                employee_name = #{employeeName,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="rfid != null">
                rfid = #{rfid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
        </set>
        WHERE employee_id = #{employeeId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wwg.entity.Employee">
        UPDATE employee
        SET hospital_id = #{hospitalId,jdbcType=BIGINT},
            station_id = #{stationId,jdbcType=BIGINT},
            employee_number = #{employeeNumber,jdbcType=VARCHAR},
            employee_name = #{employeeName,jdbcType=VARCHAR},
            role_id = #{roleId,jdbcType=BIGINT},
            rfid = #{rfid,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=DATE}
        WHERE employee_id = #{employeeId,jdbcType=BIGINT}
    </update>
</mapper>